.view-toggle-switch {
  display: flex;
  border: 1px solid var(--toggle-border);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-secondary);

  button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    span.material-icons {
      font-size: 24px;
      color: var(--icon-color);
    }

    &.active {
      background-color: var(--active-bg);

      span.material-icons {
        color: var(--active-icon);
      }

      &:hover {
        background-color: var(--active-bg);
        opacity: 0.9;
        color: white;
      }
    }

    &:hover:not(.active) {
      background-color: var(--bg-tertiary);
    }
  }
}